* {
    box-sizing: border-box;
}
body{background-image: none;}
#pepsi-max {
    background-image: url("background/bg-black.svg");
    background-repeat:no-repeat;
    background-position: top center; 
    padding-bottom: 10em;
}
#pepsi-max-lime {
    background-image: url("background/bg-green.svg");
    background-repeat:no-repeat;
    background-position: top center; 
    padding-bottom: 10em;
}
#pepsi-max-cafe {
    background-image: url("background/bg-brown.svg");
    background-repeat:no-repeat;
    background-position: top center; 
    padding-bottom: 10em;
}
#pepsi{
    background-image: url("background/bg-blue.svg");
    background-repeat:no-repeat;
    background-position: top center; 
    padding-bottom: 10em;
}

h1{
    font-size: 3.5em;
    margin:0;
    font-family: Montserrat;
    font-weight: 900;
}

h2{
    font-weight: 400;
    margin:0;
}
h3{
    text-align: left;
    margin:0;
    padding:3em 0 0.5em 0;
}
h4{
    font-size: 1.4em;
    font-family:Montserrat;
    margin:0;
    padding-bottom:1em;
    color:var(--blueTitoli)
}


.box-nutrizionale{
    display: flex;
    justify-content: space-around;
    padding-top:10em;
}
.column-first{
    width: 40%;
    padding-top:5em;
}

.column-second{
    padding-top:2em;
}
.column-left{
    width:40%;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.box-ingredienti{
    font-family: Avenir Next,sans-serif;
    padding-bottom:5em;
}

#ingredienti{
    font-size:20px;
    color:var(--blueTitoli);
    margin:0;
}
.formati{
    flex-direction: column;
    align-items: flex-end;
}
.container-campagna{
    width: 100%;
    display: flex;
    padding: 1em 3em 0 4.5em;
}

/* WRAPPER */
.container-prodotti{
    display:flex;
    width:70%;
    /* justify-content: space-between; */
    margin-left:0;
    margin-top:0;
}
.scrolling-wrapper{
    display: flex;
    overflow-x: auto;
}
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}
.card-prodotti{
    width: 250px;
    /* flex: 0 0 auto; */
    margin:2em;
    /* padding-right: 4em; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-prodotti{
    padding: 0em;
}
.titolo-prodotto{
    padding-top: 1.5em;
    margin: 0;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}
.sottotitolo{
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    margin: 0.5em 0;
}
.card-prodotti:hover {
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}



/* TABLE */
strong {
    font-weight: 700;
}
.dark-blue {
    background-color: var(--darkBlueTable);
}

.light-blue {
    background-color: var(--lightBlueTable);
}
td{
    padding:1em;
}
table {
    border-collapse: separate;
    border-spacing: 0 8px;
}

table tr td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

table tr td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
/* AND TABLE */



@media screen and (max-width: 600px) {
    #pepsi-max {
        background-image: url("background/bg-black-mobile.svg");
        background-repeat:no-repeat;
        background-position: top center; 
        padding-bottom: 10em;
    }
    #pepsi-max-lime {
        background-image: url("background/bg-green-mobile.svg");
        background-repeat:no-repeat;
        background-position: top center; 
        padding-bottom: 10em;
    }
    #pepsi-max-cafe{
        background-image: url("background/bg-brown-mobile.svg");
        background-repeat:no-repeat;
        background-position: top center; 
        padding-bottom: 10em;
    }
    #pepsi{
        background-image: url("background/bg-blue-mobile.svg");
        background-repeat:no-repeat;
        background-position: top center; 
        padding-bottom: 10em;
    }

    div.column-second {order: 1;}
    div.column-first {order: 2;}
    div.column-left {order: 3;}
    div.column-right{order: 4;}

    .container-campagna{
        padding:2em;
    }
    .image-responsive{
        width: 100%;
        margin:0;
    }
    .box-nutrizionale{
        display: flex;
        flex-wrap: wrap;
        padding-top:4em;
    }
    .column-first{
        width: 100%;
        text-align: center;
        padding-top:2em;
    }
    .column-left, .column-right{
        width: 85%;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size:1.5em;
    }
    h3{
        text-align:center;
        padding-top:5em;
    }
    h4{
        font-size: 1.2em;
    }
    .container-prodotti{
        margin:0;
        width: 100%;
        position: relative;
        left:-10px;
    }
    .card-prodotti{       
        margin: 2em;
        /* padding-right: 4em; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formati{
        padding-bottom: 5em;
    }
}